DB_USERNAME=postgres
DB_PASSWORD=cambia-esta-clave-local
AUTH_CATALOG_USERNAME=catalogo
AUTH_CATALOG_PASSWORD=Clave-local-catalogo-2026
AUTH_PERMISSIONS_USERNAME=salidas
AUTH_PERMISSIONS_PASSWORD=Clave-local-salidas-2026
SESSION_COOKIE_SECURE=false
